<div class="chat-header">
  <div class="group_name">hogefuga</div>
  <div class="header-button">
    <div class="chat_end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="user_name">tora</div>
      <div class="message_data">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="message_main">おはよう</div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="user_name">sim</div>
      <div class="message_data">2020/3/31(Wed) 12:43:30</div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>